

/* =========================
   PAGE WRAPPER
========================= */
.dashboard-page {
  padding-top: 80px; /* space untuk topbar */
}

/* =========================
   MAIN CONTENT
========================= */
.dashboard-main {
  flex: 1;
  width: 100%;
  padding: 8px 22px 100px; /* bawah untuk bottom nav */
  overflow-y: auto;
  margin-top: 12px;
}

.dashboard-main::-webkit-scrollbar {
  display: none;
}



/* =========================
   TOGGLE BUTTON
========================= */
.toggle-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
}

.toggle-btn {
  flex: 1;
  height: 46px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  background: rgba(255, 255, 255, 0.72);
  color: #7d7d7d;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.18s ease;
}

.toggle-btn:active {
  transform: scale(0.98);
}

.toggle-btn.active {
  background: #ffc400;
  border-color: #ffc400;
  color: rgb(4, 4, 4);

}

/* =========================
   SUMMARY CARD
========================= */
.summary-card {
  background: rgba(255, 255, 255, 0.94);
  border-radius: 5px;
  padding: 22px 18px;
  margin-bottom: 20px;
}

/* =========================
   SUMMARY ITEM
========================= */
.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-label {
  font-size: 16px;
  color: #8a8a8a;
  margin-bottom: 6px;
}

/* =========================
   SALDO AKHIR
========================= */
.summary-item.akhir .amount {
  font-size: 40px;
  font-weight: 700;
  color: #2ea44f;
  text-align: right;
}

/* =========================
   SALDO AWAL
========================= */
.summary-item.awal .amount {
  font-size: 40px;
  font-weight: 700;
  color: #888;
  text-align: right;
}

/* =========================
   MINI BOX
========================= */
.summary-row {
  display: flex;
  gap: 12px;
}

.mini-box {
  flex: 1;
  border-radius: 5px;
  padding: 16px 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;
}

.pemasukan {
  background: rgba(46, 164, 79, 0.1);
}

.pengeluaran {
  background: rgba(255, 99, 99, 0.1);
}

.mini-label {
  font-size: 13px;
  color: #777;
}

.mini-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #222;
}

/* =========================
   CURRENCY & AMOUNT
========================= */
.currency {
  font-weight: 400;
  color: #999;
}

.amount {
  font-weight: 700;
  color: #202020;
  text-align: right;
}

/* =========================
   LIST PENDAPATAN
========================= */
.pendapatan-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;
}

.pendapatan-item {
  background: rgba(255, 255, 255, 0.94);
  border-radius: 5px;
  padding: 16px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pendapatan-item span {
  font-size: 14px;
  color: #666;
}

.pendapatan-item strong {
  font-size: 14px;
  color: #666;
}












/* =========================
   INPUT NOMINAL
========================= */
.input-group {
  margin-bottom: 18px; /* jarak ke bawah */
}

/* Label atas */
.input-label {
  display: block;
  font-size: 14px;
  color: #7d7d7d;
  margin-bottom: 6px;
  font-weight: 500;
}

/* Wrapper input + Rp */
.input-wrapper {
  display: flex;
  align-items: center;

  background: rgba(255,255,255,0.94);
  border-radius: 5px;
  padding: 14px 16px;

}

/* Rp */
.input-wrapper .currency {
  font-size: 16px;
  color: #999;
  margin-right: 6px;
}

/* Input field */
.input-wrapper input {
  border: none;
  outline: none;
  width: 100%;

  font-size: 18px;
  font-weight: 600;
  color: #202020;

  background: transparent;
}

/* Placeholder */
.input-wrapper input::placeholder {
  color: #bbb;
}

/* Fokus (saat diklik) */
.input-wrapper:focus-within {
  border: 1px solid #525252;
}


/* =========================
   BUTTON SIMPAN
========================= */
.primary-btn {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: none;

  background: #cdcccc; /* gold */
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;
  margin-bottom: 24px;
}

.primary-btn:active {
  transform: scale(0.98);
}

.primary-btn:hover {
  background: #ffc400; /* gold lebih gelap saat hover */
}











/* =========================
   EMPTY CARD
========================= */
.empty-card {
  background: rgba(255, 255, 255, 0.94);
  border-radius: 5px;
  padding: 24px 20px;
  margin-bottom: 90px;
}

.empty-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #222;
}

.empty-card p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}


















/* =========================
   RESPONSIVE
========================= */
@media (max-width: 390px) {
  .dashboard-main {
    padding: 8px 22px 120px;
  }

  .dashboard-header h1 {
    font-size: 25px;
  }

  .mini-value {
    font-size: 16px;
  }
}